{% extends "admin_base.html" %}
{%block title%} New Venue {% endblock %}


{% block content %}
<div class="container h-100" style="margin-top: 200px;">
  <div class="row">
    <div class="card position-absolute top-50 start-50 translate-middle" style="width: 360px;">
      <div class="card-body position-relative">
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Venue</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.place.label(class="form-label") }}
                    {% if form.place.errors %}
                        {{ form.place(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.place.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.place(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.location.label(class="form-label") }}
                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.capacity.label(class="form-label") }}
                    {% if form.capacity.errors %}
                        {{ form.capacity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.capacity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.capacity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mt-3 row justify-content-center">
                {{ form.submit(class="btn btn-outline-success col-sm-5 me-4") }}
                <a type="button" class="btn btn-outline-danger col-sm-5" href="{{url_for('admin_dashboard')}}">Cancel</a>
            </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}