{% extends "base.html" %}
{% block title %}
    Shows
{% endblock %}
{%block content%}
<div id="usrId" class="visually-hidden">{{user.id}}</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <div class="h1 text-center"> Book Tickets </div>
    {% for venue in venues %}
        <div class="card w-75 h-100 mx-auto my-5" style="height: 180px; border-radius: 20px;">
            <div class="card-body p-3">
                <div class="row">
                    <h2 class="col-sm-12 card-title text-center">{{venue.name}}</h2>
                </div>
                <div class="justify-content-evenly ">
                  <div class="row justify-content-evenly">
                    {% for show in shows %}
                      {% if show.venue_id == venue.id %}                
                        <div class="col-sm-3 card h6 p-4 text-center mx-sm-1" style="height: 160px;width: 160px;">
                          <span> {{show.name}} </span>
                          <span> {{show.time}} </span>
                          <span> Rs. {{show.price}} </span>
                          {% if show.tickets == 0 %}
                              <a role="button" class="btn btn-outline-secondary mt-3 disabled">Houseful</a>
                          {% else %}
                          <a type="button" id="modal-open" class="open-BookingModal btn btn-outline-primary mt-3" href="#bookingmodal" data-movie="{{dump(show)}}" data-venue="{{dump(venue)}}">Book</a>
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
  <!-- Modal -->
  <div class="modal fade" id="bookingmodal">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
      <div class="modal-content w-100">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Booking Details</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body p-4">
            <div class="h6 d-flex justify-content-between">
              <div>Available Seats: <span id="avlTkt"></span></div>
              <div>Venue ID: <span id="venId"></span></div>
            </div>
            <table class="table mb-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Venue</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="movId"></td>
                        <td id="movTitle"></td>
                        <td id="movTime"></td>
                        <td id="movVenue"></td>
                        <td id="movCity"></td>
                    </tr>
                </tbody>
            </table>
        <form>
            <div>
                <!-- Name of the person booking the ticket -->
                
                <!-- Number of Tickets with an add and a subtract button -->
                <div class="form-group d-flex">
                    <label class="h5 col-sm-9" >Number of Tickets</label>
                    <div class="input-group ">
                        <button id="rem-tkt" class="btn btn-outline-danger" type="button" onclick="rem()">-</button>
                        <input type="text" value="1" id="numTkt" class="form-control text-center" aria-label="Example text with button addon" aria-describedby="button-addon" style="max-width: 50px;">     
                        <button id="add-tkt" class="btn btn-outline-success" type="button" onclick="add()">+</button>
                    </div>
                </div><br>
                <!-- Price of ticket -->
                <div class="form-group d-flex mb-5">
                    <label class="h5 col-sm-5">Price: Rs.
                      <span id="movPrice"></span>
                    </label>
                    <div class="col-sm-3"></div>
                    <label for="totalPrice" class="h5 d-flex gap-3 col-sm-4">Total
                      <input type="text" class="form-control" id="TotalPrice" value="Rs. " style="max-width: 112px;" disabled>
                    </label>
                </div>


              <!-- Submit button -->
              <button type="submit" class="bookconfirm btn btn-primary btn-block col-12" >Confirm Booking</button>

            </div>
          </form>
        </div>
  
      </div>
    </div>
  </div>

  <script>
    function add() {
      var numTkt = document.getElementById("numTkt").value;
      var price = Number(document.getElementById("movPrice").innerHTML);
      var avlTkt = Number(document.getElementById("avlTkt").innerHTML);
      document.getElementById("rem-tkt").disabled = false;
      if(numTkt < 10 && numTkt < avlTkt){
        numTkt++;
        if (numTkt == avlTkt || numTkt == 10) {
          document.getElementById("add-tkt").disabled = true;
        }
        document.getElementById("numTkt").value = numTkt;
        document.getElementById("TotalPrice").value = "Rs. " + numTkt * price;
      }
    }

    function rem() {
      var numTkt = document.getElementById("numTkt").value;
      var price = Number(document.getElementById("movPrice").innerHTML);
      var avlTkt = Number(document.getElementById("avlTkt").innerHTML);
      document.getElementById("add-tkt").disabled = false;
      if (numTkt > 1) {
        numTkt--;
        if (numTkt == 1) {
          document.getElementById("rem-tkt").disabled = true;
        }
        document.getElementById("numTkt").value = numTkt;
        document.getElementById("TotalPrice").value = "Rs. " + numTkt * price;
      }
    }

    $(document).on("click",".open-BookingModal",function(e){
        e.preventDefault();
        var _self = $(this);
        var movie = _self.data('movie');
        var venue = _self.data('venue');
        $("#avlTkt").text(movie.tickets);
        $("#movId").text(movie.id);
        $("#movTitle").text(movie.name);
        $("#movTime").text(movie.time);
        $("#movPrice").text(movie.price);
        $("#venId").text(venue.id);
        $("#movVenue").text(venue.name);
        $("#movCity").text(venue.city);
        avlTkt = movie.Tickets;
        var numTkt = document.getElementById("numTkt").value;
        var price = Number(document.getElementById("movPrice").innerHTML);
        document.getElementById("TotalPrice").value = "Rs. " + numTkt * price;
        $(_self.attr('href')).modal('show');
    })

    $(document).on("click",".bookconfirm",function(e){
        e.preventDefault();
        const usrId = Number(document.getElementById("usrId").innerHTML);
        const numTkt = Number(document.getElementById("numTkt").value);
        const price = Number(document.getElementById("movPrice").innerHTML);
        const venId = Number(document.getElementById("venId").innerHTML);
        const movId = Number(document.getElementById("movId").innerHTML);
        const totalPrice = numTkt * price;
        const data = {
            "usrId": usrId,
            "movId": movId,
            "venId": venId,
            "numTkt": numTkt,
            "totalPrice": totalPrice
        }
        console.log(data);
    });
  </script>    
  

{% endblock %}