{% extends "base.html" %}
{% block title %}
Modal Test
{% endblock %}
{%block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- Button trigger modal -->
  <a type="button" id="modal-opener" class="open-BookingModal btn btn-primary"  href="#bookingmodal" 
  data-title="Titanic" data-date="26-03-2023" data-time="6:15 PM" data-price="420">Open modal</a>
  <!-- Modal -->
  <div class="modal fade" id="bookingmodal">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
      <div class="modal-content w-100">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Book Tickets</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body p-4">
          <div class="d-flex justify-content-around h4">
            <p id="movTitle"> </p>
            <p id="movDate"> </p>
            <p id="movTime"> </p>
            <p id="movPrice"> </p>
          </div>
          <form>
            <div>
              <!-- Number of Tickets with an add and a subtract button -->
              <div class="form-group d-flex">
                <label for="InputNumTicket" class="h5 col-sm-9" >Number of Tickets</label>
                <div class="input-group ">
                  <button class="btn btn-outline-danger" type="button" onclick="rem()">-</button>
                  <input type="text" value="1" id="numTkt" class="form-control text-center" aria-label="Example text with button addon" aria-describedby="button-addon" style="max-width: 50px;">     
                  <button class="btn btn-outline-success" type="button" onclick="add()">+</button>
                </div>
              </div><br>
              <!-- Price of ticket -->
              <div class="form-group d-flex mb-5">
                <label for="totalPrice" class="h5 col-sm-9">Price</label>
                <input type="text" class="form-control col-sm-4" id="TotalPrice" value="Rs. " style="max-width: 112px;" disabled>
              </div>


              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block col-12" data-bs-dismiss="modal">Confirm Booking</button>

            </div>
          </form>
        </div>
  
      </div>
    </div>
  </div>

  <script>
    function add() {
      var numTkt = document.getElementById("numTkt").value;
      var price = Number(document.getElementById("movPrice").innerText);
      var totalPrice = document.getElementById("totalPrice");
      if(numTkt < 10){
        numTkt++;
        document.getElementById("numTkt").value = numTkt;
        document.getElementById("TotalPrice").value = "Rs. " + numTkt * price;
      }
    }

    function rem() {
      var numTkt = document.getElementById("numTkt").value;
      var price = Number(document.getElementById("movPrice").innerText);
      var totalPrice = document.getElementById("totalPrice");
      if (numTkt > 1) {
        numTkt--;
        document.getElementById("numTkt").value = numTkt;
        document.getElementById("TotalPrice").value = "Rs. " + numTkt * price;
      }
    }
    // listener for the modal
    $(document).on("click",".open-BookingModal", function (e){
      e.preventDefault();
      var _self = $(this);
      var title = _self.data('title');
      var date = _self.data('date');
      var time = _self.data('time');
      var price = _self.data('price');
      $("#movTitle").text(title);
      $("#movDate").text(date);
      $("#movTime").text(time);
      $("#movPrice").text(price);
      $(_self.attr('href')).modal('show');
    })

    
    
  </script>
{% endblock %}

<!-- <a type="button" id="modal-opener" class="open-BookingModal mt-3 btn btn-primary"  href="#bookingmodal" data-movie="{{show}}" data-venue="{{venue}}">Book</a> -->